---
layout: default
---
<main class="blog-posts">
  {{ content }}
  
  <div class="post-tiles-masonry" id="postcards">
    {%- for work-theme in site.work limit: 12 %}
      <div class="post-tiles-masonry-item" data-category="{{ work-theme.categories | join: ';' }}" {% if work-theme.img %}data-img="{{ work-theme.img | img_url_prefix }}"{% endif %}>
        <a href="{{ work-theme.url | relative_url }}">
          <span class="post-title">
            {{ work-theme.title }}
          </span>
          {%- if work-theme.coverimg -%}
            <img src="{{ site.imgsrc }}/{{ work-theme.coverimg }}" />
          {%- endif -%}
        </a>
      </div>
    {%- endfor %}
  </div>
</main>

<script>
  // display tiles only once all images loaded
  Promise.all(Array.from(document.querySelectorAll(".post-tiles-masonry-item a img")).filter(img => !img.complete).map(img => new Promise(resolve => { img.onload = img.onerror = resolve; }))).then(() => {
    var masonry = new MiniMasonry({
        container: '.post-tiles-masonry',
        baseWidth: 400,
        gutterX: 40,
        gutterY: 60,
        surroundingGutter: false
    });
    document.getElementById("postcards").setAttribute("style", "opacity:1");
  });
</script>